/*:root{
    --primary-color: #000000;
    --second-color: #FA4A0C;
    --primary-font-family: 'Akrobat', sans-serif;
    --second-font-family: 'Zona Pro', sans-serif;
}
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

