:root{
    --primary-color: #17101099;
    --second-color: #FA4A0C;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
margin:0 auto;
max-width: 1440px;
height: 830px;
}

.logoMenu{
    height: 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.innerMenu{
    width: 560px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;/* не убирает подчеркивание?*/
}

.redButton{
    color: var(--second-color);
}

.blackButton{
    color: #252B42;
}

.restaurantApp{
    background-image: url(/assets/images/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 619px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content:space-around;
    
}

.restaurantApp h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #F7F7F7;
    
}

.restaurantApp h1{
    height: 151.1px;
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;  
}

.restaurantApp h4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #F7F7F7;
    
}

.buttonHeader{
    height: 70px;
    width: 640px;
    display: flex;
    justify-content: space-around;
}

.button1{
    height: 68px;
    width: 236px;
    border-radius: 30px; 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.buttonDelivery{
    background: var(--second-color);
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border: none;
}

.buttonMenu{
    background:none;
    font-style: normal;
    color: #FFFFFF;
}

.createAnAccount{
    height: 692px;
}

.contentConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title{
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
}

.imgConteiner1{
    background-image: url(/assets/images/2.png);
    height: 507px;
    width: 250px;
    border-radius: 40px;
}



.infoConteiner1>h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;  
    color: #FA4A0C;
}

.infoConteiner1>h2{
    height: 114px;
    width: 561px;
    left: 0px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42; 
}

.infoConteiner1>h4{
    height: 76px;
    width: 467px;
    left: 0px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.exploreVarieties{
height: 703px;
display: flex;
flex-direction:row-reverse;
align-items: center;
justify-content: space-around;
}

.imgConteiner2{
    background-image: url(/assets/images/3.png);
    height: 489.2px;
    width: 250px;
    border-radius: 40px;
}



.infoConteiner2>h3{
    height: 36px;
    width: 211px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}

.infoConteiner2>h2{
    height: 114px;
    width: 480px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.infoConteiner2>h4{
    height: 76px;
    width: 462px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.orderNow{
    background-image: url(/assets/images/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 807px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content:space-around;
}

.orderNow>h2{
    height: 57px;
    width: 235px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    
}

.orderNow>h4{
    height: 38px;
    width: 840px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.buttonFooter{
width: 320px;
display: flex;
justify-content: space-between;/*не раздвигаются*/
}

.button2{
    height: 64px;
    width: 142px;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.buttonPlayStore{
    background-color: var(--second-color);
    border: none;
}

.buttonAppStore{
    background-color: var(--primary-color);
    flex-grow: 1.2;/*съедает все свободное пространство*/
}

.footer{
    height: 237px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer>p{
    height: 18px;
    width: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #5C5C5C;
}





