/*:root{
    --primary-color: #000000;
    --second-color: #FA4A0C;
    --primary-font-family: 'Akrobat', sans-serif;
    --second-font-family: 'Zona Pro', sans-serif;
}
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    min-width: 360px;
    max-width: 1922px;
    background: linear-gradient(to right,#FAFAFA 282px,#FFEE2F 282px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.headerLogo{
    width: 282px;
    height: 120px;
    margin: 32px auto 0 88px;
    position: relative;
}

.sectionMenu{
    width: 643px;
    height: 25px;
    margin: 0 95px 0 0;
}

.innerMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    list-style-type: none;
}

.innerMenu a{
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.innerMenu a:hover{
    color: #FE0002; 
}

.innerMenu a:active{
    color: #A60002;
}

.rectangleLeng{
    width: 120px;
    height: 120px;
    background-color: #CE0002;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangleLeng>p{
    width: 31px;
    height: 28px;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rectangleLeng:hover{
    background-color: #FE0002; 
}

.rectangleLeng:active{
    background-color: #A60002;
}

@media (max-width:1026px) {
    .wrapper {
        max-width: 1026px;
        background: linear-gradient(to right,#fff 97px,#FFEE2F 97px);
    }

    .headerLogo{
        margin: 34px 0 0 140px;
    }

    .innerMenu{
        display: none;
    }
}
@media (max-width:600px) {
    .wrapper {
        max-width: 600px;
        background: linear-gradient(to right,#F1FAFF, 70px,#FFEA2F 70px);
    }
    header {
        height: 98px;
    }
    
    .sectionMenu{
        padding: 152px 0px 0px 100px;/*??????*/
    }

    .innerMenu{
        font-size: 32px;
    }

    .rectangleLeng{
        width: 98px;
        height: 98px;
    }
}

main {
    height: 822px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoConteiner1{
    margin: 206px 0 0 88px;
}

.infoConteiner1 h1{
    width: 1077px;
    height: 255px;
    font-family: 'Zona Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    color:#000000; 
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.socNetworkConteiner{
    width: 32px;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 81px 0 0 92px;
}

.rectangleInfo{
    width: 120px;
    height: 120px;
    background-color: #CE0002;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 109px 0 0 97px;
}

.rectangleInfo p{
    width: 101px;
    height: 54px;
}

.rectangleInfo:hover{
    background-color: #FE0002; 
}

.rectangleInfo:active{
    background-color: #A60002;
}

.infoConteiner2{
    width: 459px;
    height: 90px;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 124px 0 0 66px;
}

.logoUnikorn{
    width: 786px;
    height: 733px;
    background-image: url('/assets/images/DZ5/Frame.png');
    margin: 49px 40px 0 0;
}

@media (max-width:1026px){
    main{
        height: auto;
        flex-direction: column;
        padding: 0px;
    }

    .navigation{
        margin-top: 64px;
        margin-left: 47px;
        justify-content: flex-start;
        width: 84.5%;
        height: auto;
    }

    .infoConteiner1{
        width: auto;
        max-height: 425px;
        margin: 0px 0px 25px 0px;
    }

    .information{
        margin: 0px 0px 0px 0px;
    }

    .socNetworkConteiner{
        margin: 0px 65px 0px 0px;
        position: absolute;
        top: 190px;
    }

    .mb-rb { /*!!!!!!!!!!!!!!*/
        margin: 0px 65px 0px 0px;
    }

    .infoConteiner2{
        margin: 15px 0px 0px 0px;
    }

    .logoUnikorn{
        align-self: flex-end;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        width: 76%;
    }
}


@media (max-width:600px){
    main{
        flex-direction: column;
    }

    .navigation{
        height: 826px;
        margin-top: 49px;
        margin-left: 14px;
        justify-content: space-between;
    }

    .infoConteiner1{
        font-size: 32px;
        line-height: 38px;
        width: 352px;
        margin: 0px;
    }

    .information{
        flex-direction: column;
        width: 345px;
        margin-bottom: 39px;
    }

    .socNetworkConteiner{
        display: none;
    }

    .mb-rb {
        width: 120px;
        height: 120px;
        margin: 0px;
    }

    .infoConteiner2{
        font-size: 16px;
        line-height: 20px;
        width: 345px;
        margin: 25px 0px 0px 0px;
    }

    .logoUnikorn{
        width: 345px;
        height: 322px;
        margin: 0px;
        position: absolute;
        top: 240px;
        right: 15px;
        background-image: url(/assets/images/DZ5/Frame\ M.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}

.emptySection{
    height: 77px;
    background: #FAFAFA;
}

@media (max-width:1026px){
    .emptySection{
        height: 51px;
        background: #FFFFFF;
    }
}

@media (max-width:600px){
    .emptySection{
        height: 49px;
        background: #F1FAFF;
    }
}

.footer{
    height: 54px;
    background: #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerInfo{
    width: 109px;
    height: 20px;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
    margin: 18px 0 0 27px;
}

.footerInnerMenu{
    width: 516px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7E7E7E;
    list-style-type: none;
    margin: 18px 0 0 542px;
}

.footerInnerMenu a{
    text-decoration: none;
}

.footerInnerMenu a:hover{
    color: #FE0002; 
}

.footerInnerMenu a:active{
    color: #A60002;
}

.footerSocNetworkConteiner{
    width: 197.5px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 25.2px 0 0;
}

@media (max-width:1026px){
    .footerInnerMenu{
        margin-right: 10px;
        font-size: 14px;
        line-height: 17px;
    }
    
}

@media (max-width:600px){
    .footer {
        padding: 0px 16px 0px 20px;
    }
    .footerInnerMenu {
        display: none;
    }
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-SemiBold.eot');
    src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'),
        url('Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Akrobat-SemiBold.woff2') format('woff2'),
        url('Akrobat-SemiBold.woff') format('woff'),
        url('Akrobat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-ExtraBold.eot');
    src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'),
        url('Akrobat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Akrobat-ExtraBold.woff2') format('woff2'),
        url('Akrobat-ExtraBold.woff') format('woff'),
        url('Akrobat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('Akrobat-Regular.eot');
    src: local('Akrobat Regular'), local('Akrobat-Regular'),
        url('Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Akrobat-Regular.woff2') format('woff2'),
        url('Akrobat-Regular.woff') format('woff'),
        url('Akrobat-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Zona Pro';
    src: local('Zona Pro ExtraBold'), local('Zona-Pro-ExtraBold'),
        url('ZonaPro-ExtraBold.woff2') format('woff2'),
        url('ZonaPro-ExtraBold.woff') format('woff'),
        url('ZonaPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }